body {
			color: white;
			background-color: #D2B48C;
			font-size: 15pt;
			font-family: veranda, geneva, arial, halvetica, sans-serif;
			}
                        
input[readonly] {background-color: gray;}
                        
h1 { text-align: center;
}
div { text-align: center;
}

.d2{font-size: 25pt;
              background-color: white;
}

.d {color: white;
    border:5px solid white;  
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #F08080;

    

}

.d3{color: black;
    margin-right: 300px;
    margin-left: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white;
    }
table { margin: auto; }

.tr1{
    color: #696969;
    background-color: #FFFF99;
    border:5px solid white;  
}

.td1{
     padding-right: 200px;
    padding-left: 200px;
}